{% extends "layout.html" %}
{% block title%}
Buy
{% endblock %}
{% block main %}
<form action="/buy" method="post">
    <fieldset>
        <div class='mb-3'>
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="symbol" type="type" />
        </div>
        <div class='mb-3'>
            <input autocomplete="off" autofocus class="form-control" min="1" name="shares" placeholder="shares" type="number" />
        </div>
        <div class='mb-3'>
            <button class='btn btn-default' type="submit">Buy</button>
        </div>
    </fieldset>
</form>
{% endblock %}