{% extends "layout.html" %}
{% block title%}
History
{% endblock %}
{% block main %}
<table class="table">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Transaction</th>
        </tr>
    </thead>
    <tbody>
        {% for tran in tran %}
        <tr>
            <td>{{ tran.symbol }}</td>
            <td>{{ tran.name }}</td>
            <td>{{ tran.shares }}</td>
            <td>{{ tran.per_share }}</td>
            <td>{{ tran.timeStamp }}</td>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock%}